# Virtual environment
.venv/

# Dataset folders (DO NOT PUSH)
images/
split/



# Common image extensions
*.jpg
*.jpeg
*.png
*.gif
*.bmp

# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
